<div class="page-container">
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #ffffff;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://img.freepik.com/premium-vector/fifa-world-cup-qatar-2022-logo-stylized-vector-isolated-illustration-with-football_633888-126.jpg?w=2000"
                    alt="" width="50" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/players">Players</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/nations">Nations</a>
                    </li>

                </ul>
                <span class="navbar-text">
                    <% if(!isLogin) { %>

                        <a class="btn btn-primary text-dark " href="/users/login" role="button">Log in</a>
                        <% } %>
                            <% if(isLogin) { %>

                                <a class="btn btn-primary text-dark " href="/users/logout" role="button">Log out</a>
                                <% } %>
                </span>
            </div>
        </div>
    </nav>
</div>