<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

</head>

<body>
  <div style="margin: 0 auto;
  max-width: 1280px;">
    <% if(success_msg !='' ){ %>
      <%= success_msg %>
        <% } %>
          <% if(error_msg !='' ){ %>
            <%= error_msg %>
              <% } %>

                <% if(error !='' ){ %>
                  <%= error %>
                    <% } %>
                      <form method="post">
                        <div class="field">
                          <label class="label">Username</label>
                          <div class="control">
                            <input class="input" name="userName" type="text" placeholder="Type your username....">
                          </div>
                        </div>
                        <div class="field">
                          <label class="label">Password</label>
                          <div class="control">
                            <input class="input" name="password" type="password" placeholder="At least 6 characters">
                          </div>
                        </div>
                        <div class="field is-grouped">
                          <div class="control">
                            <button class="button is-link">Login</button>
                          </div>
                        </div>
                      </form>

  </div>
</body>

</html>